
*{
    margin: 0px;
}
.banner-title{
    font-size: 65px;
    padding-top: 100px;
    margin-bottom: 20px;
}

.header-img{
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}
.banner{
    text-align: right;
    margin-right: 150px;
    margin-left: 650px;
    } 

.banner-descriprion{
    font-size: 16px;
    margin-bottom: 30px;
}

.banner-button{
    background-color: #F15B22;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 200px;
}

.portfolio-detail{
    display: flex;
}
.portfolio-img{
    height: 700px;
    width: 520px;
    margin-left: 100px;
    margin-top: 80px;
}

.porfolio-info{
    margin-top: 350px;
    margin-left: 100px;
}

.portfolio-title{
    font-size: 40px;
    margin-right: 300px;
    margin-bottom: 20px;
}

.portfolio-description{
    font-size: 16px;
    margin-right: 250px;
    margin-bottom: 20px;
}
.portfolio-ul{
    line-height: 1.5;
}

.plan-info{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}

.portfolio-plan{
    display: flex;
    text-align: center;
    justify-content:center;
    gap: 200px;
    margin-top: 50px;
}

.plan-img{
    margin-bottom: 10px;
}

.plan-title{
    margin-bottom: 10px;
}

.plan-section{
    margin-bottom: 100px;
}

.positive-section{
    background-image: url('../images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin-left: 100px;
    margin-bottom: 50px
   
}

.positive{
    margin-left: 80px;
    padding-top: 100px;
    width: 490px;
    height: 182px;
}

.positive-info{
    font-size: 40px;
    color: white;

}

.positive-button{
    width: 160px;
    height: 64px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
}